		<header>
			<div class="headerarea headerarea__3 header__sticky header__area">
				<div class="container desktop__menu__wrapper">
					<div class="row">
						<div class="col-xl-2 col-lg-2 col-md-6">
							<div class="headerarea__left">
								<div class="headerarea__left__logo">
									<a href="index.html"><img alt="logo" src="img/logo/logo_1.png"></a>
								</div>
							</div>
						</div>
						<div class="col-xl-7 col-lg-7 main_menu_wrap">
							<div class="headerarea__main__menu">
								<nav>
									<ul>
										{% for item in categories %}
										<li class="mega__menu position-static">
											<a class="headerarea__has__dropdown" href="about.html">{{ item.name }}<i class="icofont-rounded-down"></i></a>
											<div class="headerarea__submenu mega__menu__wrapper">
												<div class="row">
													{# je vais calculer le nombre de N1 / 12 pour avoir le bon col-3 #}
													{% set col_count = ( 12 / (item.categories|length )) %}

													{% for subitem in item.categories %}
													<div class="col-{{col_count }} mega__menu__single__wrap">
														<h4 class="mega__menu__title"><a href="#">{{ subitem.name }}</a></h4>
														<ul class="mega__menu__item">
															{% for subsubitem in subitem.categories %}
															<li>
																<a href="about.html">{{ subsubitem.name }}</a>
															</li>
															{% endfor %}
														</ul>
													</div>
													{% endfor %}

													<div class="col-12 mega__menu__single__wrap sp_top_30">
														<div class="mega__menu__img">
															<a href="#">
																<img alt="Mega Menu" src="{{ asset('img/mega/mega_menu_2.png') }}">
															</a>
														</div>
													</div>
												</div>
											</div>
										</li>
										{% endfor %}
						
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-6">
							<div class="headerarea__right">
								<div class="header__cart">
									<a href="#"><i class="icofont-cart-alt"></i></a>
									<div class="header__right__dropdown__wrapper">
										<div class="header__right__dropdown__inner">
											<div class="single__header__right__dropdown">
												<div class="header__right__dropdown__img">
													<a href="#"><img alt="photo" src="img/grid/cart1.jpg"></a>
												</div>
												<div class="header__right__dropdown__content">
													<a href="shop-product.html">Web Directory</a>
													<p>1 x <span class="price">$ 80.00</span></p>
												</div>
												<div class="header__right__dropdown__close">
													<a href="#"><i class="icofont-close-line"></i></a>
												</div>
											</div>
											<div class="single__header__right__dropdown">
												<div class="header__right__dropdown__img">
													<a href="#"><img alt="photo" src="img/grid/cart2.jpg"></a>
												</div>
												<div class="header__right__dropdown__content">
													<a href="shop-product.html">Design Minois</a>
													<p>1 x <span class="price">$ 60.00</span></p>
												</div>
												<div class="header__right__dropdown__close">
													<a href="#"><i class="icofont-close-line"></i></a>
												</div>
											</div>
											<div class="single__header__right__dropdown">
												<div class="header__right__dropdown__img">
													<a href="#"><img alt="photo" src="img/grid/cart3.jpg"></a>
												</div>
												<div class="header__right__dropdown__content">
													<a href="shop-product.html">Crash Course</a>
													<p>1 x <span class="price">$ 70.00</span></p>
												</div>
												<div class="header__right__dropdown__close">
													<a href="#"><i class="icofont-close-line"></i></a>
												</div>
											</div>
										</div>
										<p class="dropdown__price">Total: <span>$1,100.00</span></p>
										<div class="header__right__dropdown__button">
											<a class="white__color" href="ecommerce/cart.html">View Cart</a> <a class="blue__color" href="ecommerce/checkout.html">Checkout</a>
										</div>
									</div>
								</div>
								<div class="headerarea__login">
									<a href="login.html"><i class="icofont-user-alt-5"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid mob_menu_wrapper">
					<div class="row align-items-center">
						<div class="col-6">
							<div class="mobile-logo">
								<a class="logo__dark" href="#"><img alt="logo" src="img/logo/logo_1.png"></a>
							</div>
						</div>
						<div class="col-6">
							<div class="header-right-wrap">
								<div class="headerarea__right">
									<div class="header__cart">
										<a href="#"><i class="icofont-cart-alt"></i></a>
										<div class="header__right__dropdown__wrapper">
											<div class="header__right__dropdown__inner">
												<div class="single__header__right__dropdown">
													<div class="header__right__dropdown__img">
														<a href="#"><img alt="photo" src="img/grid/cart1.jpg"></a>
													</div>
													<div class="header__right__dropdown__content">
														<a href="shop-product.html">Web Directory</a>
														<p>1 x <span class="price">$ 80.00</span></p>
													</div>
													<div class="header__right__dropdown__close">
														<a href="#"><i class="icofont-close-line"></i></a>
													</div>
												</div>
												<div class="single__header__right__dropdown">
													<div class="header__right__dropdown__img">
														<a href="#"><img alt="photo" src="img/grid/cart2.jpg"></a>
													</div>
													<div class="header__right__dropdown__content">
														<a href="shop-product.html">Design Minois</a>
														<p>1 x <span class="price">$ 60.00</span></p>
													</div>
													<div class="header__right__dropdown__close">
														<a href="#"><i class="icofont-close-line"></i></a>
													</div>
												</div>
												<div class="single__header__right__dropdown">
													<div class="header__right__dropdown__img">
														<a href="#"><img alt="photo" src="img/grid/cart3.jpg"></a>
													</div>
													<div class="header__right__dropdown__content">
														<a href="shop-product.html">Crash Course</a>
														<p>1 x <span class="price">$ 70.00</span></p>
													</div>
													<div class="header__right__dropdown__close">
														<a href="#"><i class="icofont-close-line"></i></a>
													</div>
												</div>
											</div>
											<p class="dropdown__price">Total: <span>$1,100.00</span></p>
											<div class="header__right__dropdown__button">
												<a class="white__color" href="#">VIEW CART</a> <a class="blue__color" href="#">CHECKOUT</a>
											</div>
										</div>
									</div>
								</div>
								<div class="mobile-off-canvas">
									<a class="mobile-aside-button" href="#"><i class="icofont-navigation-menu"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header><!-- header section end -->
		