{% extends 'base.html.twig' %}

{% block title %}Formation Développeur Web et Concepteur d'Applications - Cours DWWM & CDA
{% endblock %}
{% block description %}Formez-vous au développement web et applicatif avec nos cours de code informatique DWWM et CDA. Acquérez les compétences indispensables pour devenir développeur web, mobile ou concepteur d'applications dès aujourd'hui.
{% endblock %}

{% block body %}
    <div class="herobannerarea herobannerarea__2">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                    <div class="herobannerarea__content__wraper">
                        <div class="herobannerarea__title">
                            <div class="herobannerarea__small__title">
                                <span>Devenez un expert en</span>
                            </div>
                            <div class="herobannerarea__title__heading__2 herobannerarea__title__heading__3">
                                <h2>Développement web</h2>
                            </div>
                        </div>
                        <div class="herobannerarea__text herobannerarea__text__2">
                            <p>Le développement web et mobile offre des opportunités sans précédent. Apprenez les compétences nécessaires pour réussir dans ce domaine passionnant grâce à nos formations spécialisées.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                    <div class="aboutarea__img__2" data-tilt>
                        <img loading="lazy" class="aboutimg__1" src="/img/about/about_10.png" alt="aboutimg">
                    </div>
                </div>
            </div>
        </div>
        <div class="herobannerarea__icon__2">
            <img loading="lazy" class="herobanner__common__img herobanner__img__1" src="img/herobanner/herobanner__1.png" alt="photo">
            <img loading="lazy" class="herobanner__common__img herobanner__img__2" src="img/herobanner/herobanner__2.png" alt="photo">
            <img loading="lazy" class="herobanner__common__img herobanner__img__3" src="img/herobanner/herobanner__3.png" alt="photo">
            <img loading="lazy" class="herobanner__common__img herobanner__img__4" src="img/herobanner/herobanner__4.png" alt="photo">
            <img loading="lazy" class="herobanner__common__img herobanner__img__5" src="img/herobanner/herobanner__5.png" alt="photo">
        </div>
    </div>
    <div class="brandarea__2">
        <div class="container">
            <div class="row">
                <div class="brandarea__wraper brandarea__wraper__2" data-aos="fade-up">
                    <div class="brandarea__img">
                        <a href="#"><img loading="lazy" src="img/brand/brand_1.png" alt="brand"></a>
                    </div>
                    <div class="brandarea__img">
                        <a href="#"><img loading="lazy" src="img/brand/brand_2.png" alt="brand"></a>
                    </div>
                    <div class="brandarea__img">
                        <a href="#"><img loading="lazy" src="img/brand/brand_3.png" alt="brand"></a>
                    </div>
                    <div class="brandarea__img">
                        <a href="#"><img loading="lazy" src="img/brand/brand_4.png" alt="brand"></a>
                    </div>
                    <div class="brandarea__img">
                        <a href="#"><img loading="lazy" src="img/brand/brand_5.png" alt="brand"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutarea__2 aboutarea__4 sp_bottom_30">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                    <div class="about__right__wraper__2 about__right__wraper__4">
                        <div class="educationarea__img" data-tilt>
                            <img loading="lazy" class="aboutimg__4__img__1" src="img/about/about_13.png" alt="about">
                            <img loading="lazy" class="aboutimg__4__img__2" src="img/about/about_12.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                    <div class="aboutarea__content__wraper">
                        <div class="section__title__2">
                            <div class="section__small__title">
                                <span>plateforme d'apprentissage au web</span>
                            </div>
                            <div class="section__title__heading__2 section__title__heading__3 heading__fontsize__2">
                                <h2>Nous vous offrons une formation rigoureuse</h2>
                            </div>
                        </div>
                        <div class="aboutarea__para aboutarea__para__2">
                            <p>Explorez une gamme complète de modules de formation, construits pour vous permettre d'acquérir les compétences nécessaires à la réussite dans le domaine du développement web et de la conception d’applications</p>
                        </div>
                        <div class="aboutarea__list__2">
                            <ul>
                                <li>
                                    <i class="icofont-check"></i>
                                    Cours gratuits
                                </li>
                                <li>
                                    <i class="icofont-check"></i>
                                    Financement par google adsense
                                </li>
                                <li>
                                    <i class="icofont-check"></i>
                                    apprenez à votre rythme
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="populerarea sp_top_80 sp_bottom_50">
        <div class="container">
            <div class="row populerarea__wraper">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" data-aos="fade-up">
                    <div class="populerarea__heading heading__underline">
                        <div class="default__small__button">Matières enseignées</div>
                        <h2>Cours
                            <span>Populaires</span>
                        </h2>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6" data-aos="fade-up">
                    <div class="populerarea__content">
                        <p>Vous allez adorer suivre vos cours. Chaque leçon est conçue pour être engageante et enrichissante. Nous vous promettons une expérience d'apprentissage à la hauteur de vos attentes.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for item in PopularCategory %}
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6" data-aos="fade-up">
                        <div class="single__service">
                            <div class="service__img">
                                <svg class="service__icon" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.30281 28.9536H8.45394C9.05625 28.9536 9.48648 29.5426 9.48648 30.2495V36.8465C9.48648 37.6711 9.05625 38.2602 8.45394 38.2602H6.30281C5.78654 38.2602 5.27026 37.6711 5.27026 36.8465V30.2495C5.27026 29.5426 5.78654 28.9536 6.30281 28.9536Z" fill="#5F2DED"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7027 23.7833H15.8987C16.4257 23.7833 16.8649 24.4239 16.8649 25.3207V36.7228C16.8649 37.6196 16.4257 38.2602 15.8987 38.2602H13.7027C13.0879 38.2602 12.6487 37.6196 12.6487 36.7228V25.3207C12.6487 24.4239 13.0879 23.7833 13.7027 23.7833Z" fill="#5F2DED"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0596 19.6471H23.2108C23.727 19.6471 24.2433 20.412 24.2433 21.1769V36.7303C24.2433 37.6227 23.727 38.2602 23.2108 38.2602H21.0596C20.4573 38.2602 20.0271 37.6227 20.0271 36.7303V21.1769C20.0271 20.412 20.4573 19.6471 21.0596 19.6471Z" fill="#5F2DED"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M28.4381 15.5109H30.5892C31.1055 15.5109 31.6217 16.1499 31.6217 17.0445V36.7265C31.6217 37.6212 31.1055 38.2602 30.5892 38.2602H28.4381C27.8357 38.2602 27.4055 37.6212 27.4055 36.7265V17.0445C27.4055 16.1499 27.8357 15.5109 28.4381 15.5109Z" fill="#5F2DED"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M26.9989 7.6293L23.05 18.137L20.3744 15.4678C15.622 19.6266 9.96272 22.5976 3.63238 24.2568C1.36694 24.9297 0.353173 21.6176 2.74495 21.0505C8.47735 19.533 13.5443 16.8156 17.8363 13.1279L15.5453 10.8879L26.9989 7.6293Z" fill="#FFB31F"/>
                                </svg>
                                <div class="service__bg__img">
                                    <svg class="service__icon__bg" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M63.3775 44.4535C54.8582 58.717 39.1005 53.2202 23.1736 47.5697C7.2467 41.9192 -5.18037 32.7111 3.33895 18.4477C11.8583 4.18418 31.6595 -2.79441 47.5803 2.85105C63.5011 8.49652 71.8609 30.2313 63.3488 44.4865L63.3775 44.4535Z" fill="#5F2DED" fill-opacity="0.05"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="service__content">
                                <h3>
                                    <a href="#">{{ item.name }}</a>
                                </h3>
                                <p>{{ item.meta }}</p>
                            </div>
                            <div class="service__small__img">
                                <svg class="icon__hover__img" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.5961 10.265L19 1.33069L10.0022 3.73285L1 6.1306L7.59393 12.6627L14.1879 19.1992L16.5961 10.265Z" stroke="#FFB31F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="gridarea gridarea__2">
        <div class="container">
            <div class="row grid__row">
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12" data-aos="fade-up">
                    <div class="section__title__2">
                        <div class="section__title__button">
                            <div class="default__small__button">Trouvez votre cours</div>
                        </div>
                        <div class="section__title__heading__2 section__title__heading__3 heading__fontsize__2">
                            <h2>Commencez à apprendre.</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12" data-aos="fade-up">
                    <div class="gridfilter_nav grid__filter__2 gridFilter">
                        <button class="active" data-filter="*">Tous les cours
                        </button>
                        <button data-filter=".filter1" class="">DWWM
                        </button>
                        <button data-filter=".filter2" class="">CDA
                        </button>
                    </div>
                </div>
            </div>
            <div class="row grid" data-aos="fade-up">
                {% for item in lessons %}
                    {% set n4 = item.slug ?? '' %}
                    {% set n3 = item.category.slug ?? '' %}
                    {% set n2 = item.category.parent.slug ?? '' %}
                    {% set n1 = item.category.parent.parent.slug ?? '' %} 
                    
                    {% if n1 == 'developpeur-web-et-web-mobile' %}
                        {% set n40 = 'filter1' %}
                    {% else %}
                        {% set n40 = 'filter2' %}
                    {% endif %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 grid-item  {{ n40 }}">
                        <div class="gridarea__wraper">
                            <div class="gridarea__img">
                                <a href="{{ path('app_detail', {'n1': n1, 'n2': n2, 'n3': n3, 'n4': n4}) }}">
                                    <img loading="lazy" src="/img/grid/grid_1.png" alt="grid">
                                </a>
                                <div class="gridarea__small__button">
                                    <div class="grid__badge">{{ item.category.name }}</div>
                                </div>
                                <div class="gridarea__small__icon">
                                    <a href="#">
                                        <i class="icofont-heart-alt"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gridarea__content">
                                <div class="gridarea__list">
                                    <ul>
                                        <li>
                                            <i class="icofont-book-alt"></i>
                                            23 Lesson
                                        </li>
                                    </ul>
                                </div>
                                <div class="gridarea__heading">
                                    <h3 class="h-fix">
                                        <a href="{{ path('app_detail', {'n1': n1, 'n2': n2, 'n3': n3, 'n4': n4}) }}">
                                            {{ item.title }}
                                        </a>
                                    </h3>
                                </div>
                                <div class="gridarea__price">
                                    Gratuit
                                    <del>/ €10.00</del>
                                </div>
                                <div class="gridarea__bottom">
                                    <a href="instructor-details.html">
                                        <div class="gridarea__small__img">
                                            <img loading="lazy" src="/img/grid/grid_small_1.jpg" alt="grid">
                                            <div class="gridarea__small__content">
                                                <h6>{{ item.user.username }}</h6>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="gridarea__star">
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <span>(0)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="registerarea sp_top_90">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                    <div class="registerarea__wraper">
                        <div class="section__title registerarea__section__title">
                            <div class="section__title__button">
                                <div class="default__small__button">Cours particuliers.</div>
                            </div>
                            <div class="section__title__heading heading__underline">
                                <h2>Apprenez à coder avec
                                <small>un expert</small> et <small>maîtrisez</small> le HTML, CSS, JavaScript, le php, nodeJS et <small>bien plus de technologie.</small>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                    <div class="registerarea__form">
                        <div class="registerarea__form__heading">
                            <h4>Contactez-nous!</h4>
                        </div>
                        {{ form_start(form) }}
                            {{ form_widget(form.name) }}
                            <div class="row">
                                <div class="col-xl-6">
                                    {{ form_widget(form.email) }}
                                </div>
                                <div class="col-xl-6">
                                    {{ form_widget(form.phone) }}
                                </div>
                            </div>
                            {{ form_widget(form.subject) }}
                            {{ form_widget(form.message) }}
                            <div class="registerarea__button">
                                <a class="default__button" href="#">Sign Up
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="registerarea__img">
            <img loading="lazy" class="register__1" src="img/register/register__1.png" alt="register">
            <img loading="lazy" class="register__2" src="img/register/register__2.png" alt="register">
            <img loading="lazy" class="register__3" src="img/register/register__3.png" alt="register">
        </div>
    </div>
    {#
    <div class="blogarea__2 sp_top_100 sp_bottom_100">
        <div class="container">
            <div class="row">
                <div class="col-xl-12" data-aos="fade-up">
                    <div class="section__title__2 text-center teamarea__margin">
                        <div class="section__small__title">
                            <span>News & Blog</span>
                        </div>
                        <div class="section__title__heading__2 section__title__heading__3 heading__fontsize__2">
                            <h2>Latest News & Blogs</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" data-aos="fade-up">
                    <div class="single__blog__wraper">
                        <div class="single__blog__img">
                            <img loading="lazy" src="img/blog/blog_5.png" alt="blog">
                            <div class="single__blog__button">
                                <a class="default__button" href="#">Story</a>
                            </div>
                        </div>
                        <div class="single__blog__content">
                            <p>13 january 2024</p>
                            <h4>
                                <a href="#">Facebook design is dedicated to what's new in design
                                </a>
                            </h4>
                            <div class="single__blog__bottom__button">
                                <a href="#">Read More
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" data-aos="fade-up">
                    <div class="single__blog__wraper">
                        <div class="single__blog__img">
                            <img loading="lazy" src="img/blog/blog_24.png" alt="blog">
                            <div class="single__blog__button">
                                <a class="default__button" href="#">Story</a>
                            </div>
                        </div>
                        <div class="single__blog__content">
                            <p>13 january 2024</p>
                            <h4>
                                <a href="#">Facebook design is dedicated to what's new in design
                                </a>
                            </h4>
                            <div class="single__blog__bottom__button">
                                <a href="#">Read More
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" data-aos="fade-up">
                    <div class="single__blog__wraper">
                        <div class="single__blog__img">
                            <img loading="lazy" src="img/blog/blog_25.png" alt="blog">
                            <div class="single__blog__button">
                                <a class="default__button" href="#">Story</a>
                            </div>
                        </div>
                        <div class="single__blog__content">
                            <p>13 january 2024</p>
                            <h4>
                                <a href="#">Facebook design is dedicated to what's new in design
                                </a>
                            </h4>
                            <div class="single__blog__bottom__button">
                                <a href="#">Read More
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12" data-aos="fade-up">
                    <div class="blogarea__bottom__button">
                        <a class="default__button" href="#">MORE BLOG</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #}
{% endblock %}
